In [20]:
from sqlalchemy import create_engine
from pydantic import BaseSettings, Field
import pandas as pd
import dotenv
from sqlalchemy.sql import text

dotenv.load_dotenv()

True

In [21]:
class Config(BaseSettings):
    user: str = Field(env='user')
    pasw: str = Field(env='pasw')
    host: str = Field(env='host')
    port: int = Field(env='port')
    db: str = Field(env='db')
    
    @property 
    def ddl(self):
        return f'postgresql+psycopg2://{self.user}:{self.pasw}@{self.host}:{self.port}/{self.db}'
    
config = Config()

engine = create_engine(config.ddl)

In [16]:
query = '''
WITH profile AS
  (SELECT u.user_id,
          DATE_TRUNC('month', MIN(event_time))::date AS start_mn
   FROM tools_shop.users u
   JOIN tools_shop.orders o ON u.user_id = o.user_id
   JOIN tools_shop.events e ON u.user_id = e.user_id
   GROUP BY 1), 
sessions AS
  (SELECT start_mn,
          DATE_TRUNC('month', event_time)::date AS event_mn,
          COUNT(DISTINCT p.user_id) AS users_cnt
   FROM profile p
   JOIN tools_shop.events e ON p.user_id = e.user_id
   GROUP BY 1,
            2)
SELECT start_mn,
       event_mn,
       users_cnt,
       LAG(users_cnt) OVER (PARTITION BY start_mn ORDER BY event_mn) AS previous_day_users_cnt,
       ROUND((1 - (users_cnt::numeric / LAG(users_cnt) OVER (PARTITION BY start_mn ORDER BY event_mn))) * 100, 2) AS churn_rate
FROM sessions
WHERE start_mn BETWEEN '2018-01-01' AND '2018-06-01'
  AND event_mn BETWEEN '2018-01-01' AND '2018-12-01'; 
'''

In [18]:
with engine.connect() as conn:
    df = pd.read_sql(text(query), con=conn)

In [23]:
df

      start_mn    event_mn  users_cnt  previous_day_users_cnt  churn_rate
0   2018-01-01  2018-01-01        257                     NaN         NaN
1   2018-01-01  2018-02-01         67                   257.0       73.93
2   2018-01-01  2018-03-01         41                    67.0       38.81
3   2018-01-01  2018-04-01         44                    41.0       -7.32
4   2018-01-01  2018-05-01         42                    44.0        4.55
5   2018-01-01  2018-06-01         21                    42.0       50.00
6   2018-01-01  2018-07-01         11                    21.0       47.62
7   2018-01-01  2018-08-01          3                    11.0       72.73
8   2018-02-01  2018-02-01        226                     NaN         NaN
9   2018-02-01  2018-03-01         59                   226.0       73.89
10  2018-02-01  2018-04-01         42                    59.0       28.81
11  2018-02-01  2018-05-01         46                    42.0       -9.52
12  2018-02-01  2018-06-01         20                    46.0       56.52
13  2018-02-01  2018-07-01         13                    20.0       35.00
14  2018-02-01  2018-08-01          8                    13.0       38.46
15  2018-03-01  2018-03-01        260                     NaN         NaN
16  2018-03-01  2018-04-01         62                   260.0       76.15
17  2018-03-01  2018-05-01         37                    62.0       40.32
18  2018-03-01  2018-06-01         42                    37.0      -13.51
19  2018-03-01  2018-07-01         29                    42.0       30.95
20  2018-03-01  2018-08-01         19                    29.0       34.48
21  2018-03-01  2018-09-01          7                    19.0       63.16
22  2018-03-01  2018-10-01          2                     7.0       71.43
23  2018-03-01  2018-12-01          1                     2.0       50.00
24  2018-04-01  2018-04-01        264                     NaN         NaN
25  2018-04-01  2018-05-01         59                   264.0       77.65
26  2018-04-01  2018-06-01         41                    59.0       30.51
27  2018-04-01  2018-07-01         47                    41.0      -14.63
28  2018-04-01  2018-08-01         26                    47.0       44.68
29  2018-04-01  2018-09-01         20                    26.0       23.08
30  2018-04-01  2018-10-01         13                    20.0       35.00
31  2018-05-01  2018-05-01        280                     NaN         NaN
32  2018-05-01  2018-06-01         52                   280.0       81.43
33  2018-05-01  2018-07-01         53                    52.0       -1.92
34  2018-05-01  2018-08-01         46                    53.0       13.21
35  2018-05-01  2018-09-01         35                    46.0       23.91
36  2018-05-01  2018-10-01         26                    35.0       25.71
37  2018-05-01  2018-11-01          7                    26.0       73.08
38  2018-06-01  2018-06-01        261                     NaN         NaN
39  2018-06-01  2018-07-01         68                   261.0       73.95
40  2018-06-01  2018-08-01         32                    68.0       52.94
41  2018-06-01  2018-09-01         37                    32.0      -15.63
42  2018-06-01  2018-10-01         28                    37.0       24.32
43  2018-06-01  2018-11-01         22                    28.0       21.43
44  2018-06-01  2018-12-01         10                    22.0       54.55