## SQLite3

`rowid` - создается автоматически!

In [ ]:
import sqlite3
# Первым делом подключаемся(если бд нет - создасться)
db = sqlite3.connect('test.db')

# Создаем курсор
cursor = db.cursor()

# С помощью .execute() выполняются основные команды 
cursor.execute('''CREATE TABLE IF NOT EXISTS hello_world(
    name TEXT(50),
    description TEXT(50) '''))

# Вставка значений
cursor.execute('''INSERT INTO hello_world(name, descripiton) 
               VALUES ('название', 'описание)''')

# Получение значений
cursor.execute('''SELECT * FROM hello_world''')

# Запись полученных значений
values = cursor.fetchall()
# >> [('название', 'описание')]

# fetchmany - выбирает только столько записей, сколько передано(в данном случае - 3)
values = cursor.fetchmany(3)

# fetchone - выбирает только одну запись
value = cursor.fetchone()

### Удаление данных

In [ ]:
# Удаление всех записей
cursor.execute(''' DELETE FROM articles''')

# Удаление по условию
cursor.execute(''' DELETE FROM articles WHERE rowid=1''')

### Изменение данных

In [ ]:
cursor.execute('''UPDATE table SET (
    name = 'hello_2',
    description = 'hello_3')
    WHERE rowid = 5''')

### Связь таблиц

In [ ]:
# Первоначально внешние ключи отключены в бд, надо их включить
cursor.execute('''PRAGMA foreign_keys=on;''')

# Создаем родительскую таблицу
cursor.execute('''
               CREATE TABLE product(
                   name TEXT,
                   price INTEGER CHECK (price > 0),
                   category_id INTEGER,
                   FOREIGN KEY (category_id) REFERENCES category(rowid),)
               ''')
# Создаем дочернию таблицу
cursor.execute('''
               CREATE TABLE category(
                   name TEXT NOT NULL,
               ''')

### Возвращение значения

```SQL
insert into t(a, b) values('x', 'y') returning id
update t set a = a * 2 where b < 10 returning a, b as c

### Переименование и удаление колонки

```SQL
-- переименовать
alter table tbl1 rename column a to b;
-- удалить 
alter table tbl1 drop column a;

### Добавление столбца

```SQL
ALTER TABLE table_name ADD COLUMN column_name TYPE;

## MySQL

Команды для командной строки
```bash
# Запуск бд
sudo service mysql start
# Проверка включена ли бд
sudo systemctl status mysql
# 
sudo service ssh start
```